<div class="panel panel-default">
  <div class="panel-heading">
    <h1>{{ contacts.name }}</h1>
    <div class="container">
      <div class="row">
        <div class="col-xs-5">
          <img [src]="contacts?.imageUrl" 
          alt="{{ contact.name }}" 
          class="img-responsive">
          <div>
          <a (click)="onDelete()" class="btn btn-danger pull-right" 
          style="margin-right:150px">Delete</a>
          <a [routerLink]="['edit']" class="btn btn-primary pull-right" 
          style="margin-right:10px">Edit</a>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row" style="margin-left:5px">Email: {{ contact.email }} </div>
    <div class="row" style="margin-left:5px">Phone: {{ contact.phone }}</div>
  </div>
</div>