<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h3>Contacts<button class="btn btn-success pull-right" [routerLink]="['new']">New Contact</button></h3>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="container" class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
           <app-contact-item *ngFor="let contactEl of contacts" 
           [contact]="contactEl"
           dnd-draggable 
           [dragEnabled]="true" 
           [dragData]="contactD" 
           [dropZones]="['contactGroup']"></app-contact-item>
        </div>
      </div>
    </div>
  </div>
  </div>

